<!DOCTYPE html>
<html>
<head>
  <title>Where does the government spend its money? TheOpenBudget.Org</title>
  <meta name="description" content="Find out where your Australian taxes are going with our government expenditure data and visualisation!">
  <link href="http://fonts.googleapis.com/css?family=Droid Serif&subset=latin" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "d3.v2.min" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32376901-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<%= yield %>

</body>
</html>
